  .body{
		background-color: #ffffff;
	}

.delete{
	    float:right;
	    margin-right:30px;
	 }
.searchInfo{
	 width:270px;
	 height:34px;
	 float:right;
	 }
.checkBox{
	 text-align:center;
	 }
