	  .guideinfotitle{
	     	background-color:#f2f2f2;
		font-size:13px;
		color:#707070;
		
	   }

	 .fontsize{
		font-size:13px;
		}

	 .checkBox{
	  	text-align:center;
	  	}
	  .searchInfo{
	   	width:270px;
	 	height:34px;
	 	 float:right;
	  	}