.naver{
	background:#438eb9;
	border-radius:0px;
}

.grey{
	
	border-left:1px solid #DDD;
	margin-right:20px;
}

.grey{
background-color: #757575;
}



.red {
	background-color: #62a8d1;;
}